<div
  class="frontPage"
  style="
    height: '98.5vh'
  "
>
<div
class="text-bg-dark"
style="position: relative; height: 98.5vh"
>
<img src="<%= coverImage %>" alt="cover image" style="
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  " />
  </div>
</div>
